<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/flot.css" type="text/css"></link>
	<link rel="alternate" type="application/rss+xml" title="Flot Blog" href="/blog/feed"></link>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link>
	{% if page.url == '/index.html' %}
		<link rel="stylesheet" href="/css/demo.css" type="text/css"></link>
		<script src="/javascript/jquery.min.js" type="text/javascript"></script>
		<script src="javascript/flashcanvas/flashcanvas.js" type="text/javascript"></script>
		<script src="/javascript/jquery.flot.min.js" type="text/javascript"></script>
		<script src="/javascript/flot.demo.js" type="text/javascript"></script>
	{% endif %}
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-34240160-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>

	<div class="header-bar">
		<a href="/" class="title">Flot</a>
		<div class="menu">
			<a href="https://github.com/flot/flot/blob/master/API.md" class="menu-item">Documentation</a>
			<a href="http://code.google.com/p/flot/wiki/Plugins" class="menu-item">Plugins</a>
			<a href="/blog" class="menu-item">Blog</a>
			<a href="http://groups.google.com/group/flot-graphs" class="menu-item">Forum</a>
			<a href="https://code.google.com/p/flot/issues/list" class="menu-item">Bug Tracker</a>
			<a href="http://github.com/flot/flot" class="menu-item">Github</a>
		</div>
	</div>
