{% include header.html %}

	<div class="info-bar info-bar-teaser">
		<div class="info-bar-content">
			<div class="tagline">{{ site.description }}</div>
			<div class="description">Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.</div>
			<div class="works-with">Works with Internet Explorer 6+, Chrome, Firefox 2+, Safari 3+ and Opera 9.5+</div>
			<div class="downloads-area">
				<a href="http://www.flotcharts.org/downloads/flot-0.8.0.zip" class="download-entry">
					<div class="flot-icon flot-icon-80 flot-icon-80-folder-zip-blue"></div>
					<div class="download-caption">Version <span class="download-version">0.8</span></div>
				</a>
				<a href="https://github.com/flot/flot/zipball/master" class="download-entry">
					<div class="flot-icon flot-icon-80 flot-icon-80-folder-zip-red"></div>
					<div class="download-caption">Development</div>
				</a>
			</div>
		</div>
	</div>

	<div class="content">
		{{ content }}
	</div>

{% include footer.html %}
